    <footer class="footer-distributed">
      <div class="container">
        <div class="footer">
          <p>Salvo indicación expresa, todos los contenidos de esta bitácora están sindicados bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Licencia Creative Commons Atribución-NoComercial 4.0 Internacional</a>. Puedes usar texto, imagenes y audio, siempre que no lo hagas con fines comerciales y cites al autor. Si no estás de acuerdo o quieres usar nuestro contenido de manera distinta, ponte en contacto con nosotros.</p>
          <p>(CC) 2007-2016 - Los autores de El Geek Errante</p>
          <p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a></p>
        </div>
      </div>
    </footer>
  </body>
</html>
