<div class="sidebar ">
  <h3>Feeds</h3>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-rss"></i><a href="{{ site.baseUrl }}/podcastfiles/geekerrante_podcast.xml">Podcast de El Geek Errante</a></li>
    <li><i class="fa-li fa fa-rss"></i><a href="{{ site.baseUrl }}/feed.xml">Entradas de la Bitácora</a></li>
  </ul>
</div>

<div class="sidebar ">
  <h3>Entradas recientes</h3>
  <ul class="fa-ul">
    {% for post in site.posts limit:5 %}
    <li><i class="fa-li fa fa-file-text-o"></i><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h3>Podcasts recomendados</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.scientificamerican.com/podcast/60-second-science/">60-Second Science</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.rtve.es/alacarta/audios/a-hombros-de-gigantes/">A hombros de gigantes</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://autodefensainformatica.radioalmaina.org/">Autodefensa Informática</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://changelog.com/podcast">The Changelog</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://cienciaes.com/">Cienciaes.com</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://clubstartrekvalenciayfueradeorbita.blogspot.com.es/">Fuera de órbita</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.functionalgeekery.com/">Functional Geekery</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.portalgameover.com/">Game Over</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://twit.tv/shows/floss-weekly">FLOSS Weekly</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.histocast.com/">HistoCast</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.bbc.co.uk/programmes/b006qykl">In Our Time</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.lorepodcast.com/">Lore</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.2600.com/offthehook/">Off The Hook</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://radioskylab.es/">Radio Skylab</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.patreon.com/radiowarnerd">Radio War Nerd</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.scientificamerican.com/podcast/science-talk/">Science Talk</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.sliceofscifi.com/">Slice Of Sci-Fi</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.se-radio.net/">Software Engineering Radio</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://verneywells.blogspot.com.es/">Verne y Wells Ciencia Ficción</a></li>
    </ul>
</div>

<div class="sidebar">
  <h3>Categorías</h3>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li>
      <a href="{{ site.baseurl}}/tag/{{ tag[0] }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
</div>
