<div class="sidebar ">
  <h3>Feeds</h3>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-rss"></i><a href="{{ site.baseUrl }}/podcastfiles/geekerrante_podcast.xml">Podcast de El Geek Errante</a></li>
    <li><i class="fa-li fa fa-rss"></i><a href="{{ site.baseUrl }}/feed.xml">Entradas de la Bitácora</a></li>
  </ul>
</div>

<div class="sidebar ">
  <h3>Weboscero</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-twitter"></i><a href="https://twitter.com/geek_errante">@geek_errante</a></li>
      <li><i class="fa-li fa fa-facebook"></i><a href="https://www.facebook.com/elgeekerrante/">facebook.com/elgeekerrante</a></li>
    </ul>
</div>

<div class="sidebar">
  <h3>Podcasts recomendados</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-podcast"></i><a href="{{ site.baseurl }}/podcasts.html">…lista completa…</a></li>
    </ul>
</div>

<div class="sidebar ">
  <h3>Entradas recientes</h3>
  <ul class="fa-ul">
    {% for post in site.posts limit:5 %}
    <li><i class="fa-li fa fa-file-text-o"></i><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h3>Categorías</h3>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li>
      <a href="{{ site.baseurl}}/tag/{{ tag[0] }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
</div>
