<div class="sidebar ">
  <h3>Feeds</h3>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-rss"></i><a href="{{ site.baseUrl }}/podcastfiles/geekerrante_podcast.xml">Podcast de El Geek Errante</a></li>
    <li><i class="fa-li fa fa-rss"></i><a href="{{ site.baseUrl }}/feed.xml">Entradas de la Bitácora</a></li>
  </ul>
</div>

<div class="sidebar ">
  <h3>Entradas recientes</h3>
  <ul class="fa-ul">
    {% for post in site.posts limit:5 %}
    <li><i class="fa-li fa fa-file-text-o"></i><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar">
  <h3>Podcasts recomendados</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.scientificamerican.com/podcast/60-second-science/">60-Second Science</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.rtve.es/alacarta/audios/a-hombros-de-gigantes/">A hombros de gigantes</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://autodefensainformatica.radioalmaina.org/">Autodefensa Informática</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.jupiterbroadcasting.com/show/bsdnow/">BSD Now</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://changelog.com/podcast">The Changelog</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://cienciaes.com/">Cienciaes.com</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.stitcher.com/podcast/control-de-cambios">Control de Cambios</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.loscrononautas.com/">Los Crononautas</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.comunidadhispana.es/category/elite-dangerous/elitecast/">EliteCast</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.rtve.es/alacarta/audios/entre-probetas">Entre Probetas</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://twit.tv/shows/floss-weekly">FLOSS Weekly</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://freakonomics.com/">Freakonomics Radio</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.functionalgeekery.com/">Functional Geekery</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.portalgameover.com/">Game Over</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.histocast.com/">HistoCast</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.rtve.es/alacarta/audios/la-hora-de-bach">La Hora de Bach</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.bbc.co.uk/programmes/b006qykl">In Our Time</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.bbc.co.uk/programmes/b00snr0w/episodes/downloads">The Infinite Monkey Cage</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.lorepodcast.com/">Lore</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.2600.com/offthehook/">Off The Hook</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://pkdpp.tumblr.com/">Philip K. Dick Philosophical Podcast</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://proyectoterror.blogspot.com.es/">Proyecto Terror</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.rtve.es/alacarta/audios/el-quijote-del-siglo-xxi-version-radiofonica/">El Quijote del Siglo XXI</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://radioambulante.org/">Radio Ambulante</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://radioskylab.es/">Radio Skylab</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.patreon.com/radiowarnerd">Radio War Nerd</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://www.scientificamerican.com/podcast/science-talk/">Science Talk</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://twit.tv/shows/security-now">Security Now</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://seguridadoverflow.com/">Seguridad Overflow</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.sliceofscifi.com/">Slice Of Sci-Fi</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="http://www.se-radio.net/">Software Engineering Radio</a></li>
      <li><i class="fa-li fa fa-thumbs-o-up"></i><a href="https://zafarranchopodcast.wordpress.com/">Zafarrancho Podcast</a></li>
    </ul>
</div>

<div class="sidebar">
  <h3>Categorías</h3>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li>
      <a href="{{ site.baseurl}}/tag/{{ tag[0] }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
</div>
